<a href="https://colab.research.google.com/github/Risty1994/Risty1994/blob/main/Digital_Skill_Fair_Questions_for_Participant_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

### Question 1

Maximum and Minimum only gives us 1 value, which is the largest and smallest value of a column. Can you find a way to give us the 3rd largest value and 5th smallest value in a column?

In [ ]:
df = pd.DataFrame({
    'Name':['Aldo', 'Bryan', 'Cindy', 'Dilan', 'Erika', 'Fitri', 'Gerald', 'Halim'],
    'Score':[80, 85, 87, 75, 77, 83, 79, 83]
})

In [ ]:
df

     Name  Score
0    Aldo     80
1   Bryan     85
2   Cindy     87
3   Dilan     75
4   Erika     77
5   Fitri     83
6  Gerald     79
7   Halim     83

In [ ]:
df['Score'].max()

87

```df['Score'].max()``` gives us the highest score. What should we do if we want to get the 3rd highest score?

**How would I do it?**

1. Print out top/bottom n score
2. Take the last row (i.e. the nth highest/lowest) as an output. I use `df.iloc[-1]` to do this

In [ ]:
df['Score'].nlargest(3).iloc[-1]

83

In [ ]:
df['Score'].nsmallest(5).iloc[-1]

83

### Question 2

Cummulative Sum. Example:

In [ ]:
df_2 = pd.DataFrame({
    'Single Value':[0,1,3,4,7]
})

In [ ]:
df_2

   Single Value
0             0
1             1
2             3
3             4
4             7

How to add another column so that we get the cummulative sum for each row?

In [ ]:
df_2['cumsum'] = df_2['Single Value'].cumsum()

df_2

   Single Value  cumsum
0             0       0
1             1       1
2             3       4
3             4       8
4             7      15

### Question 3

Write an if..else… code in Python to check whether a word is a palindrome or not. 

Input: ‘malam’

Output: ‘malam’ is a Palindrome

Input: ‘ABBA’

Output: ‘ABBA’ is a Palindrome

Input: ‘Python’

Output: ‘Python’ is not a Palindrome.

**How would I do it**

1. Create a function which take a word as an input
2. Create a new variable which is the flipped word
3. Compare it with the original word: return true if the flipped word is the same as the input word

You can access a string with the Python's built in slicer `[start:end:step]`. Use `step = -1` to flip a word. No need to specify the start & end position to flip a word.

In [ ]:
test_string = 'Abba'

test_string[::-1]

'abbA'

In [ ]:
test_string = 'Kasur ini rusak aku'

test_string[::-1]

'uka kasur ini rusaK'

Remember that the comparison is case-sensitive, so you need to lowercase the word to be safe.

In [ ]:
test_string == test_string[::-1]

False

In [ ]:
test_string.lower()

'kasur ini rusak aku'

In [ ]:
test_string[::-1].lower()

'uka kasur ini rusak'

In [ ]:
test_string.lower() == test_string[::-1].lower()

False

In [ ]:
def palindrome_checker(word):
    lowered_word = word.lower()
    lowered_word_flipped = lowered_word[::-1]
    
    if lowered_word == lowered_word_flipped:
        print("ini kata" + word + "' is a palindrome")
    else:
        print("'" + word + "' is not a palindrome")

In [ ]:
palindrome_checker('Kasur ini rusak')

ini kata -> Kasur ini rusak' is a palindrome

In [ ]:
palindrome_checker('Python sucks')

'Python sucks' is not a palindrome

In [ ]:
kata = 'saya suka makan'
kata

'saya suka makan'

In [ ]:
len(kata)

15

### Question 4

As seen in the powerpoint slide, how to change the current dataframe into the desired result?

In [ ]:
df_4 = pd.DataFrame({
    'Buyer':['Aldo', 'Budi', 'Cindy', 'Dilan'],
    'Items Bought':[['book', 'magazine'], ['realme 8', 'screen protector'],
                   ['iPhone 11', 'power bank'], ['face shield', 'mask', 'hand sanitizer']]
})

In [ ]:
df_4

   Buyer                         Items Bought
0   Aldo                     [book, magazine]
1   Budi         [realme 8, screen protector]
2  Cindy              [iPhone 11, power bank]
3  Dilan  [face shield, mask, hand sanitizer]

**How would I do it**

In this case, we'd like to create a long table. This is a test of your looping skill. 

> For each buyer:
>> For each item bought by a buyer: create a new row with the current buyer and current item as the entry

In [ ]:
# prepare an empty list for each columns
buyer_list = []
item_list = []

# generate each row entry as a list
for i in range(0, len(df_4)):
  print('Loop ke - ',i)
  for item in df_4['Items Bought'][i]:
    print(item)

Loop ke -  0
book
magazine
Loop ke -  1
realme 8
screen protector
Loop ke -  2
iPhone 11
power bank
Loop ke -  3
face shield
mask
hand sanitizer

In [ ]:
# prepare an empty list for each columns
buyer_list = []
item_list = []

# generate each row entry as a list
for i in range(0, len(df_4)):
    for item in df_4['Items Bought'][i]:
        buyer_list.append(df_4['Buyer'][i])
        item_list.append(item)
        
# create a new df from the generated list
df_4_long = pd.DataFrame(zip(buyer_list, item_list))
df_4_long.columns = df_4.columns

In [ ]:
df_4_long

   Buyer      Items Bought
0   Aldo              book
1   Aldo          magazine
2   Budi          realme 8
3   Budi  screen protector
4  Cindy         iPhone 11
5  Cindy        power bank
6  Dilan       face shield
7  Dilan              mask
8  Dilan    hand sanitizer

### Question 5

If item 1 and item 2 shows the same product when switched, then it is counted as a duplicate. For examples are row 0 and 2, row 6 and row 7. 

How to delete the duplicate?

In [ ]:
df_5 = pd.DataFrame({
    'Item 1':['Buku', 'Buku', 'Majalah', 'iPhone', 'iPhone', 'Alat Tulis', 'Mouse', 'Keyboard'],
    'Item 2' : ['Majalah', 'Koran', 'Buku', 'Charger', 'Power Bank', 'Buku', 'Keyboard', 'Mouse']
})

In [ ]:
df_5

       Item 1      Item 2
0        Buku     Majalah
1        Buku       Koran
2     Majalah        Buku
3      iPhone     Charger
4      iPhone  Power Bank
5  Alat Tulis        Buku
6       Mouse    Keyboard
7    Keyboard       Mouse

In [ ]:
def col_list(x):
    list_item = [str(x['Item 1']), str(x['Item 2'])]
    return list_item
    
df_5['temp'] = df_5.apply(lambda x: col_list(x), axis=1)
df_5

       Item 1      Item 2                  temp
0        Buku     Majalah       [Buku, Majalah]
1        Buku       Koran         [Buku, Koran]
2     Majalah        Buku       [Majalah, Buku]
3      iPhone     Charger     [iPhone, Charger]
4      iPhone  Power Bank  [iPhone, Power Bank]
5  Alat Tulis        Buku    [Alat Tulis, Buku]
6       Mouse    Keyboard     [Mouse, Keyboard]
7    Keyboard       Mouse     [Keyboard, Mouse]

In [ ]:
df_5['temp'] = df_5.temp.sort_values().apply(lambda x: sorted(x))
df_5

       Item 1      Item 2                  temp
0        Buku     Majalah       [Buku, Majalah]
1        Buku       Koran         [Buku, Koran]
2     Majalah        Buku       [Buku, Majalah]
3      iPhone     Charger     [Charger, iPhone]
4      iPhone  Power Bank  [Power Bank, iPhone]
5  Alat Tulis        Buku    [Alat Tulis, Buku]
6       Mouse    Keyboard     [Keyboard, Mouse]
7    Keyboard       Mouse     [Keyboard, Mouse]

In [ ]:
df_5['temp'] = df_5.temp.apply(lambda x : x[0]+x[1])
df_5

       Item 1      Item 2              temp
0        Buku     Majalah       BukuMajalah
1        Buku       Koran         BukuKoran
2     Majalah        Buku       BukuMajalah
3      iPhone     Charger     ChargeriPhone
4      iPhone  Power Bank  Power BankiPhone
5  Alat Tulis        Buku    Alat TulisBuku
6       Mouse    Keyboard     KeyboardMouse
7    Keyboard       Mouse     KeyboardMouse

In [ ]:
df_5 = df_5.drop_duplicates(subset=['temp'], keep='first')
df_5[['Item 1','Item 2']]

       Item 1      Item 2
0        Buku     Majalah
1        Buku       Koran
3      iPhone     Charger
4      iPhone  Power Bank
5  Alat Tulis        Buku
6       Mouse    Keyboard

In [ ]:





df_5 = df_5.drop_duplicates(subset=['temp'], keep='first')
df_5[['Item 1','Item 2']]

       Item 1      Item 2
0        Buku     Majalah
1        Buku       Koran
3      iPhone     Charger
4      iPhone  Power Bank
5  Alat Tulis        Buku
6       Mouse    Keyboard

### Question 6

Create a function whose name is ```square_root``` that does the following:

Given a second order polynomial, find the roots (roots should be in real number). The input will be 3 numbers, each of them representing 'a', 'b', and 'c', in ax^2 + bx + c = 0.

Your task is to find the root of ax^2 + bx + c = 0. 

However, notice that sometimes an equation cannot be solved, or they have only one solution instead of two. Your function should also take this into consideration. 

The input of your function is 3 numbers, first number is the 'a' constant, second number is the 'b' constant, and third number is the 'c' constant.

##### Example 1:

Input: a = 1, b = -5, c = 6.

This means, the equation is 1x^2 - 5x + 6 = 0. 
This equation has two solutions, the first solution is x = 3, and the second solution is x = 2. So, your output should be:

Output: 'X1 = 3, X2 = 2'.

When we run the code ```square_root(1, -5, 6)``` the output will be: 'X1 = 3, X2 = 2'

##### Example 2:

Input: a = 2, b = 4, c = 2.

This means, the equation is 2x^2 + 4x + 2 = 0. 
This equation has only one solution, which is x = -1. 

Output; 'X = -1'.

##### Example 3:

Input: a = 1, b = 1, c = 9.

This means, the equation is x^2 + x + 9 = 0.
This equation has no real solution. (If you have learned about imaginary or complex numbers, the solution of this equation is those kind of numbers. But here, we're just going to deal with real numbers).

Output: 'No solution'.

**How would I do it**

If you are allowed to use the formula, this is an easy one... Just implement `(b**2 + 4ac) / 2a` and `(b**2 - 4ac) / 2a` to find the roots of a second order polynomial.

1. Test whether an equation has real number as the root with `b**2 - 4ac`. Print 'No solution' if `b**2 - 4ac` < 0
2. Else if there is a solution, calculate X1 and X2
3. If X1 == X2 are the same, just print one of them. Else print both of them

https://brilliant.org/wiki/polynomial-roots/#:~:text=The%20formula%20for%20the%20root,2%2D4ac%7D%7D%7B2a%7D.

In [ ]:
def square_root(a, b, c):
    if b**2-4*a*c < 0:
        print('No solution')
    else:
        x1 = (-b + np.sqrt(b**2 - 4*a*c)) / 2*a
        x2 = (-b - np.sqrt(b**2 - 4*a*c)) / 2*a
        if x1 == x2:
            print('X =' + str(x1))
        else:
            print('X1 = ' + str(x1) + ', X2 = ' + str(x2))

In [ ]:
square_root(1, -5, 6)

X1 = 3.0, X2 = 2.0

In [ ]:
square_root(1, 2, 1)

X =-1.0

In [ ]:
square_root(1, 1, 9)

No solution

Will be a different challenge if you're not allowed to use the formula :D